$font-primary: "Poppins", sans-serif;
$font-secondary: "Merriweather", serif;
$font-size-primary: 18px;
$background-color: #2b2d38;
$color-button: #db2a6b;
$color_elipse: #e1e1e1;
$color-font-primary: #ffffff;
$color-font-secondary: #ababab;
